/* html{
    font-size: 20px;
    font-family: sans-serif;
}
div{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 250px;
}
label{
    height: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
textarea{
    min-height: 20px;
}
